@mixin toolbar-icon-item {
    .item-name {
        display: inline-block;
        width: 16px;
        height: 38px;
        text-indent: -10000px;
    }
    .item-value {
        margin-left: -4px;
    }
}

@mixin toolbar-submenu {
    position: absolute;
    left: 0;
    bottom: 42px;
    min-width: 100%;
    display: none;
}

.app-toolbar {
    height: 38px;
    list-style: none;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;

    .root-item {
        display: block;
        float: left;
        position: relative;
        line-height: 38px;
        padding: 0 20px 0 20px;
        cursor: pointer;
        white-space: nowrap;
        margin: 0 2px 0 0;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 2px;
            height: 100%;
            right: -2px;
            background: url(../images/canvas_toolbar_sprite.png) no-repeat;
        }
        
        &:after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border: 4px solid;
            border-color: $silver transparent transparent;
            margin-left: 8px;
            position: relative;
            vertical-align: baseline;
            top: 2px;        
        }
    }
    .rtl-item {
        float: right;
        margin: 0 0 0 2px;

        &:before {
            left: -2px;
        }
    }

    li {
        .item-name {
            color: $silver;
            margin-right: 0px;
            opacity: 0.9;
        }
        .item-value {
            font-weight: normal;
            color: $white;
            display: inline-block;
            width: 16px;
            text-align: right;
        }
        &.active {
            background-color: darken($grayDark, 3%);
        }
        &:hover .item-name {
            color: $silver;
            opacity: 1;
        }
        &.active .item-name {
            color: $white;
            opacity: 1;
        }
        &.active:after {
            border-color: transparent transparent $white;
            top: -2px;        
        }        
    }
}


.app-toolbar li {
    ul {
        list-style: none;
        margin: 0;
        @include toolbar-submenu;
    }
    form {
        background: #141414;
        @include toolbar-submenu;
    }
    &.active ul {
        display: block;
        @include box-shadow(rgba(0, 0, 0, 0.95) 0px 1px 4px);
    }
    &.active form {
        display: block;
        @include box-shadow(rgba(0, 0, 0, 0.95) 0px 1px 4px);
    }
}

.app-toolbar ul {
    li {
        float: none;
        border: 0 none;
        line-height: 1;
        padding: 0;
        border-top: 1px solid #333;
        background: #141414;
    }
    li:before {
        display: none;
    }
    li:first-child {
        border: 0 none;
    }
    input {
        width: 13px;
        height: 13px;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        margin-right: 5px;
        @include box-shadow(none);
    }
    label {
        display: inline-block;
        line-height: 30px;
        padding: 0 15px;
        vertical-align: middle;
    }
    label span {
        cursor: pointer;
        vertical-align: middle;
        color: $gray;
    }
    label:hover span {
        color: $white;
    }
}

.app-toolbar {
    li.grid-toggle {
        @include toolbar-icon-item;

        .item-name {
            background: url(../images/btn_ico_grid.png) no-repeat 0 50%;
        }
    }
    li.grid-snap {
        @include toolbar-icon-item;

        .item-name {
            background: url(../images/btn_ico_snap.png) no-repeat 0 50%;
        }
    }
    li.shot-toggle {
        @include toolbar-icon-item;
        .item-name {
            background: url(../images/btn_ico_shot.png) no-repeat 0 50%;
        }
        .item-value {
            display: none
        }
        ul {
            right: 0;
            left: auto;
        }
    }
    li.trash {
        @include toolbar-icon-item;
        .item-name {
            background: url(../images/btn_ico_trash.png) no-repeat 0 50%;
        }
        .item-value {
            display: none
        }
    }
    li.switch-large {
        @include toolbar-icon-item;
        .item-name {
            background: url(../images/btn_ico_large.png) no-repeat 0 50%;
        }
    }
    li.switch-compact {
        display: none;
        @include toolbar-icon-item;

        .item-name {
            background: url(../images/btn_ico_compact.png) no-repeat 0 50%;
        }
    }
    li.hud-extras .item-value {
        display: none
    }

    li.draw-gun ul {
        width: 100px;
    }
}

.app-toolbar .player-status {
    .f-inputs {
        display: inline-block;
        vertical-align: middle;
    }
    .f-row {
        display: block;
        padding: 0px 15px;
        border-top: 1px solid #333;
        margin: 0;
    }
    .f-row:first-child {
        border: 0 none;
    }
    .f-label {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        margin: 0;
    }

    .range {
        height: 23px;
    }
}


.app-toolbar a.set-custom-bg {
    display: inline-block;
    line-height: 30px;
    padding-left: 33px;
    background: url(../images/btn_ico_plus_small.png) no-repeat 13px center;
    text-decoration: none;
    color: #666;
}

.app-toolbar a.set-custom-bg:hover {
    color: #FFF;
}

.app-toolbar ul li.disabled-item label span {
    color: #444;
    cursor: auto;
}

