@mixin button-default-hover {
    color: #FFF;
    background-position: 0 -50px;
    @include box-shadow(rgba(0, 0, 0, 0.75) 0px 1px 2px);
}

@mixin button-defaults {
    &:hover {
        @include button-default-hover;
    }

    &:focus {
        outline: 0 none;
        @include button-default-hover;
        @include box-shadow(0 0 3px 1px rgba(#000, 0.75));    
    }

    &:active,
    &.active {
        @include button-default-hover;
        background-position: 0 -100px;
    }
}

button,
.btn {
    color: rgba(255, 255, 255, 0.8);
    background: #106396 url(../images/button_normal.png) repeat-x;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0 20px;
    font-family: $sansFontFamily;
    font-size: $btnFontSize;
    @include border-radius(15px);
    @include box-shadow(rgba(0, 0, 0, 0.75) 0px 1px 2px);

    span {
        display: block;
        line-height: 16px;
        padding: 7px 0;
    }

    span.w-icon {
        padding-left: 24px;
        margin-left: -5px;
        background-repeat: no-repeat;
        background-position: 0 50%;
    }
    
    span.w-carret:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border: 4px solid;
        border-color: white transparent transparent;
        margin-left: 8px;
        position: relative;
        vertical-align: baseline;
        top: 1px;
    }

    @include button-defaults;
}


.button-main {
    background-color: #d43434;
    background-image: url(../images/button_main.png);
}


.button-aux {
    background-position: 0 50px;
    background-color: transparent!important;
    @include box-shadow(none);

    @include button-defaults;
}

.button-small {
    font-size: 0.8em;
    padding: 0 15px;
    @include border-radius(12px);

    span {
        padding: 3px 0;
    }
    span.w-icon {
        padding-left: 20px;
    }
}

.button-big {
    font-size: 1.5em;
    padding: 8px 20px 9px;
    @include border-radius(21px);

    span {
        line-height: 23px;
    }

    span.w-icon {
        margin-left: -5px;
        background-position: 0 50%;
    }
}


button,
.btn {
    .button-icon {
        padding-left: 7px;
        padding-right: 7px;

        span.w-icon {
            padding: 0px;
            width: 16px;
            overflow: hidden;
            margin: 0;
            text-indent: -10000px;
        }
    }

    span.small-plus {
        background-image: url(../images/btn_ico_plus_small.png);
    }
    span.plus {
        background-image: url(../images/btn_ico_plus.png);
    }
    span.download {
        background-image: url(../images/btn_ico_download.png);
    }
    span.trash {
         background-image: url(../images/btn_ico_trash.png);
    }
    span.load {
        background-image: url(../images/btn_ico_load.png);
    }
    span.report-bug {
        background-image: url(../images/btn_ico_bug.png);
    }
    span.restart {
        background-image: url(../images/btn_icon_reload.png);
    }
	span.undo {
        background-image: url(../images/btn_ico_undo.png);
    }
    span.align {
        background-image: url(../images/btn_ico_align.png);
    }
    span.group {
        background-image: url(../images/btn_ico_group.png);
    }
    span.clone {
        background-image: url(../images/btn_ico_clone.png);
    }
    span.open {
        background-image: url(../images/btn_ico_open.png);
    }
}


button:disabled,
.btn:disabled {
    background-color: #CCC;
    background-image: none;
    @include box-shadow(none!important);
    color: rgba(#FFFFFF, 0.8) !important;
    
    cursor:no-drop;
    
    span {
        opacity: 0.5;
    }
}

.file-input {
    display: inline-block;
    white-space: nowrap;

    .btn {
        position: relative;
        overflow: hidden;
    }

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        border: solid transparent;
        border-width: 0 0 100px 200px;
        opacity: 0.0;
        filter: alpha(opacity=0);
        -o-transform: translate(250px, -50px) scale(1);
        -moz-transform: translate(-300px, 0) scale(4);
        direction: ltr;
        cursor: pointer;
    }

    .file-name {
        vertical-align: middle;
        margin-left: 8px;
    }
}