/* Growl Messages
---------------------------------*/
$growlBgColor: #555;
$growlErrorBg: #870808;
$growlWarnBg: #b27c08;
$growlSuccessBg: #54810d;

@mixin growl-box-style($color, $scale){
    $growlBgBevelLight: lighten($color, 8%);
    $growlBgBevelAccent: darken($color, 1%);
    $growlBgBevelDark: darken($color, 5%);

    background: rgba($color, 0.9);
    border-color: $growlBgBevelLight $growlBgBevelAccent $growlBgBevelDark;
    color: lighten($color, $scale);
}

.growl-message-container {
    position: absolute;
    z-index: 1500;
    display: none;
    width: 50%;
    min-width: 200px;
    max-width: 450px;

    &.top-left {
        top: 0;
        left: 0;
        .growl-message-wrapper {
            margin-bottom: 1px;
        }
    }

    &.top-right {
        top: 0;
        right: 0;
        .growl-message-wrapper {
            float: right;
        }
    }

    &.bottom-left {
        bottom: 0;
        left: 0;
        .growl-message-wrapper {
            margin-top: 1px;
        }
    }

    &.bottom-right {
        bottom: 0;
        right: 0;

        .growl-message {
            float: right;
        }
    }
}

.growl-message-wrapper {
    margin: 0;
    width: 100%;
}

.growl-message {
    margin: 3px;
    border: 1px solid;
    width: 100%;

    @include box-sizing(border-box);
    @include box-shadow(rgba(0, 0, 0, 0.9) 0px 1px 5px);
    @include growl-box-style($growlBgColor, 50%);

    a {
        color: $white;
    }
    a.close-message {
        border: 0 none;
        background: transparent;
        cursor: pointer;
        display: block;
        font: 26px/32px Arial;
        float: right;
        height: 32px;
        text-decoration: none;
        text-align: center;
        color: $white;
        @include opacity(0.6);
        @include text-shadow(0 1px darken($growlBgColor, 20%));
        width: 32px;
    }

    a.close-message:hover {
        opacity: 1;
    }

    .message {
        font-size: 1.1em;
        padding: 20px;
        text-align: left;
    }

    h4 {
        font-size: 1.5em;
        font-weight: normal;
        margin: -5px 0 5px;
        color: #FFF;
        line-height: 25px;
        height: 25px;
        display: block;
    }

    weak {
        color: #ffd1d1;
    }
}

.error {
    .growl-message {
        @include growl-box-style($growlErrorBg, 60%)
    }
    a.close-message {
        @include text-shadow(0 1px darken($growlErrorBg, 20%));
    }
}

.warning {
    .growl-message {
        @include growl-box-style($growlWarnBg, 55%)
    }
    a.close-message {
        @include text-shadow(0 1px darken($growlWarnBg, 20%));
    }
}

.success {
    .growl-message {
        @include growl-box-style($growlSuccessBg, 60%)
    }
    a.close-message {
        @include text-shadow(0 1px darken($growlSuccessBg, 20%));
    }
}

.error-details li {
    margin-bottom: 0.25em;
}

.error-details li span.weak {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
}