/* Growl Messages
---------------------------------*/
$growlBgColor: #555;
$growlErrorBg: #870808;
$growlWarnBg: #b27c08;
$growlSuccessBg: #54810d;

$growlBgBevelLight: lighten($growlBgColor, 8%);
$growlBgBevelAccent: darken($growlBgColor, 1%);
$growlBgBevelDark: darken($growlBgColor, 5%);

.growl-message-container {
    position: absolute;
    z-index: 1500;
    display: none;
    width: 50%;
    min-width: 200px;
    max-width: 450px;
}

.growl-message-wrapper {
    margin: 0;
    width: 100%;
}

.growl-message {
    background: rgba($growlBgColor, 0.9);
    margin: 3px;
    border: 1px solid;
    border-color: $growlBgBevelLight $growlBgBevelAccent $growlBgBevelDark;
    color: lighten($growlBgColor, 50%);
    @include box-sizing(border-box);
    @include box-shadow(rgba(0, 0, 0, 0.9) 0px 1px 5px);
    width: 100%;

    a.close-message {
        display: block;
        width: 32px;
        height: 32px;
        background: url(../images/modal_window/close_win_icon.png) no-repeat 0px -32px;
        float: right;
    }

    a.close-message:hover {
        opacity: 1;
        background-position: 0px 0px;
    }

    .message {
        font-size: 1.1em;
        padding: 20px;
        text-align: left;
    }

    h4 {
        font-size: 1.5em;
        font-weight: normal;
        margin: -5px 0 5px;
        color: #FFF;
        line-height: 25px;
        height: 25px;
        display: block;
    }

    weak {
        color: #ffd1d1;
    }
}

$growlBgBevelLight: lighten($growlErrorBg, 5%);
$growlBgBevelAccent: darken($growlErrorBg, 1%);
$growlBgBevelDark: darken($growlErrorBg, 5%);

.error {
    .growl-message {
        background: rgba($growlErrorBg, 0.9);
        border-color: $growlBgBevelLight $growlBgBevelAccent $growlBgBevelDark;
        color: lighten($growlErrorBg, 55%);
    }
}

$growlBgBevelLight: lighten($growlWarnBg, 5%);
$growlBgBevelAccent: darken($growlWarnBg, 1%);
$growlBgBevelDark: darken($growlWarnBg, 5%);

.warning {
    .growl-message {
        background-color: rgba($growlWarnBg, 0.9);
        border-color: $growlBgBevelLight $growlBgBevelAccent $growlBgBevelDark;
        color: lighten($growlWarnBg, 55%);
    }

}

$growlBgBevelLight: lighten($growlSuccessBg, 5%);
$growlBgBevelAccent: darken($growlSuccessBg, 1%);
$growlBgBevelDark: darken($growlSuccessBg, 5%);

.success {
    .growl-message {
        background-color: rgba($growlSuccessBg, 0.9);
        border-color: $growlBgBevelLight $growlBgBevelAccent $growlBgBevelDark;
        color: lighten($growlBgBevelLight, 55%);
    }

}

.top-left {
    top: 0;
    left: 0;
    .growl-message-wrapper {
        margin-bottom: 1px;
    }
}

.top-right {
    top: 0;
    right: 0;
    .growl-message-wrapper {
        float: right;
    }
}

.bottom-left {
    bottom: 0;
    left: 0;
    .growl-message-wrapper {
        margin-top: 1px;
    }
}

.bottom-right {
    bottom: 0;
    right: 0;

    .growl-message {
        float: right;
    }
}

.error-details li {
    margin-bottom: 0.25em;
}

.error-details li span.weak {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
}