.icon-bug {
    background-image: url(../images/btn_ico_bug.png);
}

.icon-feedback {
    background-image: url(../images/btn_ico_feedback.png);
}

.icon-plus {
    background-image: url(../images/btn_ico_plus.png);
}
.icon-download {
    background-image: url(../images/btn_ico_download.png);
}
.icon-trash {
    background-image: url(../images/btn_ico_trash.png);
}
.icon-load {
    background-image: url(../images/btn_ico_load.png);
}
.icon-report-bug {
    background-image: url(../images/btn_ico_bug.png);
}
.icon-restart {
    background-image: url(../images/btn_icon_reload.png);
}
.icon-undo {
    background-image: url(../images/btn_ico_undo.png);
}
.icon-align {
    background-image: url(../images/btn_ico_align.png);
}
.icon-group {
    background-image: url(../images/btn_ico_group.png);
}
.icon-clone {
    background-image: url(../images/btn_ico_clone.png);
}