@mixin rounded($side, $radius: 10px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-bg {
    background: none !important;
}

.no-border {
    border: none !important;
}

.no-float {
    float: none;
}

.no-wrap {
    white-space: nowrap;
}

.clearfloat:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clear-right {
    clear: right;
}

.weak {
    color: #666666;
    font-weight: normal;
}

.white {
    color: #FFF;
}

.black {
    color: #000;
}

.img-repl {
    text-indent: -9999px;
    overflow: hidden;
    display: block;
}


/* Main custom rules
------------------------------ */
@font-face {
    font-family: Aero;
    src: url('../fonts/Aero.ttf');
}

body, html {
    overflow: hidden;
    background: #1f1f1f url('../images/app_bg_transparent.png');
    position: relative;
    height: 100%;
    color: #ccc;
}

body {
    padding: 0;
    margin: 0;
    font: .75em/1.5 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
}

body.draw *,
body.drag-select * {
    cursor: crosshair !important;
}

body.drag * {
    cursor: move !important;
}

a {
    color: #FFF;
    cursor: pointer;
}

a span {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}
/* Fonts preferences
------------------------------ */
.f-9 {
    font-size: 0.7em;
}

.f-10 {
    font-size: 0.8em;
}

.f-11 {
    font-size: 0.9em;
}

.f-12 {
    font-size: 1em;
}

.f-13 {
    font-size: 1.1em;
}

.f-14 {
    font-size: 1.2em;
}

.f-18 {
    font-size: 1.5em;
}

.f-24 {
    font-size: 2em;
}

.f-italic {
    font-style: italic;
}

.f-strong {
    font-weight: bold;
}

.v-middle {
    vertical-align: middle;
}

.v-top {
    vertical-align: top;
}

.v-baseline {
    vertical-align: baseline;
}

/* Colors prefrerences
------------------------------ */
.white {
    color: #FFFFFF !important;
}

.black {
    color: #000 !important;
}

.orange {
    color: #CC6600 !important;
}

.dark {
    color: #333333 !important;
}

.light {
    color: #666666 !important;
}

.green {
    color: #669900 !important;
}

.red {
    color: #990000 !important;
}

/* Margins
------------------------------ */
.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

/* Paddings
------------------------------ */
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

/* Display settings
------------------------------ */
.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-iblock {
    display: inline-block;
    *display: inline;
    zoom: 100%;
}

/* Content elements
------------------------------ */
h1, h2, h3, h4 {
    font-size: 2em;
    margin-bottom: .5em;
    font-weight: normal;
    color: #FFF;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

blockquote {
    margin-left: 0;
    padding-left: 2em;
    border-left: 3px solid #ccc;
    margin-bottom: 1em;
}

pre, code {
    font: 1.2em/1.8 "Courier New", Courier, monospace;
    border: 1px dashed #aaa;
    padding: 1em;
    background: #eee;
}

code {
    padding: .2em .5em;
}


/* Text align & Float
------------------------------ */
.a-left {
    text-align: left;
}

.a-center {
    text-align: center;
}

.a-right {
    text-align: right;
}

.f-left {
    float: left !important;
    zoom: 100%;
}

.f-right {
    float: right !important;
    zoom: 100%;
}

.rbox-3 {
    @include border-radius(3px);
}

.rbox-5 {
    @include border-radius(5px);
}

.rbox-8 {
    @include border-radius(8px);
}

.rbox-10 {
    @include border-radius(10px);
}