@mixin handle-hover {
    background-position: 0 -21px;
    outline: 0 none !important;
    @include box-shadow(0 1px 3px rgba(#000, 0.75));
}

/* slider root element */
.slider {
    @include default-input-style;
    
    display: inline-block;
    height: 11px;
    position: relative;
    
    width: 160px;
    margin: 7px 0;
    vertical-align: middle;

    .progress {
        height: 9px;        
        background-color: #666666;
        @include border-radius(2px);
        cursor: default;
    }

    .handle {
        background: #111 url(../images/slider_knob.png) no-repeat;
        height: 21px;
        width: 21px;
        top: -7px;
        position: absolute;
        display: block;
        cursor: default;
        border: 0 none;
        padding: 0;
        margin: 0 0 0 -5px;
        @include border-radius(100%);
        @include box-shadow(0 1px 2px rgba(#000, 0.25));

        &:focus {
            @include handle-hover;
        }
    }
    &:hover {
        .progress {
            background-color: #0b81cd;
        }
        .handle {
            cursor: pointer;
            @include handle-hover;
            
        }
    }
}

/* the input field */
input[type="text"].range {
    border: 0 none;
    background: transparent;
    color: #FFF;
    padding: 0!important;
    margin: 0 0 0 10px;
    text-align: center;
    width: 25px;
    height: 21px;
    line-height: 20px;
    @include box-shadow(none);

    &:focus {
        @include default-input-style-focused;
        background-color: darken($grayDark, 20%);
    }
}
