$bigCanvasWidth: 1280px;
$bigCanvasHeight: 960px;

$bigCanvasMarginTop: -1 * $bigCanvasHeight/2;
$bigCanvasMarginLeft: -1 * $bigCanvasWidth/2 - $sidebarWidth/2;

.scale-factor-2 {
    .vh-viewport-center {
        width: $bigCanvasWidth;
        height: $bigCanvasHeight;
        margin: $bigCanvasMarginTop 0 0 $bigCanvasMarginLeft;
    }

    .hud-canvas {
        width: 1280px;
        height: 960px;
    }
    .canvas-1 .hud-canvas {
        background-image: url(../images/canvas_1_1.jpg);
    }
    .canvas-2 .hud-canvas {
        background-image: url(../images/canvas_2_1.jpg);
    }

    .gun-1 .hud-weapon {
        background-image: url(../images/canvas_weapon_large.gif);
    }
    .gun-2 .hud-weapon {
        background-image: url(../images/canvas_weapon_2_large.gif);
    }

    .wbar-1 .weapon-bar {
        background-image: url(../images/wbar_1_large.png);
    }
    .wbar-2 .weapon-bar {
        background-image: url(../images/wbar_2_large.png);
    }
    .wbar-3 .weapon-bar {
        background-image: url(../images/wbar_3_large.png);
    }
    .wbar-4 .weapon-bar {
        background-image: url(../images/wbar_4_large.png);
    }

    .team-overlay {
        background-image: url(../images/team_overlay_red_large.png);
    }
    .teamoverlay-2 .team-overlay {
        background-position: 100% 784px;
    }

    .lag-o-metr {
        background: url(../images/lagometr_large.png) no-repeat;
    }
    .speed-o-metr {
        background: url(../images/speedometr_large.png) no-repeat;
    }
    .pickup-message {
        background: url(../images/pickup_message_large.png) no-repeat;
    }
    .demo-rec-message {
        background: url(../images/demo_recording_message_large.png) no-repeat;
    }

    .hud-crosshair {
        background: url(../images/corsshair_large.png) no-repeat;
    }

    .ffa-score .team-red {
        background-image: url(../images/scorebox_red_ffa_large.png);
    }
    .ffa-score .team-blue {
        background-image: url(../images/scorebox_blue_ffa_large.png);
    }

    .team-score .team-red {
        background-image: url(../images/scorebox_red_tdm_large.png);
    }
    .team-score .team-blue {
        background-image: url(../images/scorebox_blue_tdm_large.png);
    }

    .scorebox-item .item-icon {
        width: 100px;
        height: 32px;
        background-repeat: no-repeat;
    }

    .scorebox-item.style-0 .team-red {
        width: 360px;
        height: 70px;
        background-image: url(../images/scorebox_classic_large.png);
    }
    .team-score.style-0 .team-red {
        background-image: url(../images/scorebox_classic_tdm_large.png);
    }

    .scorebox-item.style-1 .team-red {
        width: 300px;
        height: 70px;
        background-image: url(../images/scorebox_classic_2_large.png);
    }
    .team-score.style-1 .team-red {
        background-image: url(../images/scorebox_classic_2_tdm_large.png);
    }

    .rbox-3 {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
    .rbox-5 {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .rbox-8 {
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
    }

    .item-counter span.textstyle-2 {
        text-shadow: 2px 2px 0px #000;
    }
    .item-counter span.textstyle-3 {
        text-shadow: 3px 3px 0px #000;
    }

    .obit-item {
        height: 30px;
    }
    .obit-item .item-icon {
        width: 30px;
        height: 30px;
    }
    .obit-item .item-counter span.counter {
        font-size: 44%;
        line-height: 30px;
    }

    .chat-messages {
        line-height: 20px;
        font-size: 20px;
    }
    .chat-messages li {
        margin-top: 6px;
        padding-left: 6px;
    }
    .chat-messages .name {
        margin-right: 10px;
    }
}

