@mixin offset-utility($prop: margin, $count:4, $step:5) {
    $namespace: p;

    @if $prop == margin {
        $namespace: m;
    }

    @while $count > 0 {
        .#{$namespace}-#{$count*$step} {
            #{$prop}: #{$count*$step}px;
        }
        .#{$namespace}t-#{$count*$step} {
            #{$prop}-top: #{$count*$step}px;
        }
        .#{$namespace}b-#{$count*$step} {
            #{$prop}-bottom: #{$count*$step}px;
        }
        .#{$namespace}r-#{$count*$step} {
            #{$prop}-right: #{$count*$step}px;
        }
        .#{$namespace}l-#{$count*$step} {
            #{$prop}-left: #{$count*$step}px;
        }
        $count: $count - 1;
    }
}

@mixin width-utility() {
    $count: 20;
    $step: 5;

    @while $count > 0 {
        .w-#{$count*$step} {
            width: percentage($count*$step/100);
        }
        $count: $count - 1;
    }
}
.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-bg {
    background: none !important;
}

.no-border {
    border: none !important;
}

.no-float {
    float: none;
}

.no-wrap {
    white-space: nowrap;
}

.clearfloat:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clear-right {
    clear: right;
}

.weak {
    color: #666666;
    font-weight: normal;
}

.white {
    color: #FFF;
}

.black {
    color: #000;
}

.img-repl {
    text-indent: -9999px;
    overflow: hidden;
    display: block;
}


/* Fonts preferences
------------------------------ */
.f-9 {
    font-size: 0.7em;
}

.f-10 {
    font-size: 0.8em;
}

.f-11 {
    font-size: 0.9em;
}

.f-12 {
    font-size: 1em;
}

.f-13 {
    font-size: 1.1em;
}

.f-14 {
    font-size: 1.2em;
}

.f-18 {
    font-size: 1.5em;
}

.f-24 {
    font-size: 2em;
}

.f-italic {
    font-style: italic;
}

.f-strong {
    font-weight: bold;
}

.v-middle {
    vertical-align: middle;
}

.v-top {
    vertical-align: top;
}

.v-baseline {
    vertical-align: baseline;
}

/* Colors prefrerences
------------------------------ */
.white {
    color: #FFFFFF !important;
}

.black {
    color: #000 !important;
}

.orange {
    color: #CC6600 !important;
}

.dark {
    color: #333333 !important;
}

.light {
    color: #666666 !important;
}

.green {
    color: #669900 !important;
}

.red {
    color: #990000 !important;
}

/* Margins
------------------------------ */
@include offset-utility(margin, 4);


/* Paddings
------------------------------ */
@include offset-utility(padding, 4);

/* Display settings
------------------------------ */
.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-iblock {
    display: inline-block;
    *display: inline;
    zoom: 100%;
}

/* Text align & Float
------------------------------ */
.a-left {
    text-align: left;
}

.a-center {
    text-align: center;
}

.a-right {
    text-align: right;
}

.f-left {
    float: left !important;
    zoom: 100%;
}

.f-right {
    float: right !important;
    zoom: 100%;
}

.rbox-3 {
    @include border-radius(3px);
}

.rbox-5 {
    @include border-radius(5px);
}

.rbox-8 {
    @include border-radius(8px);
}

.rbox-10 {
    @include border-radius(10px);
}

@include  width-utility;