.app-toolbar {
    height: 38px;
    list-style: none;
    font-size: 10px;
    text-transform: uppercase;
}

.app-toolbar .root-item {
    display: block;
    float: left;
    border-right: 1px solid #333;
    position: relative;
    line-height: 38px;
    padding: 0 40px 0 20px;
    cursor: pointer;
    white-space: nowrap;
    background: url(../images/canvas_toolbar_sprite.png) no-repeat 100% -38px;
    margin: 0 1px 0 0;
}
.app-toolbar .root-item:before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    right: -2px;
    background: url(../images/canvas_toolbar_sprite.png) no-repeat;
}

.app-toolbar .rtl-item {
    margin: 0 0 0 1px;
}
.app-toolbar .rtl-item:before {
    left: -2px;
}

.app-toolbar li .item-name {
    color: #CCC;
    margin-right: 0px;
    opacity: 0.75;
}

.app-toolbar li .item-value {
    font-weight: normal;
    color: #FFF;
    display: inline-block;
    width: 16px;
    text-align: right;
}

.app-toolbar li.item-status .item-name {
    color: #AAA;
    margin-right: 5px;
}

.app-toolbar li.item-status {
    font-weight: normal;
    color: #FFF;
    display: inline-block;
    width: auto;
    text-align: right;
}

.app-toolbar li:hover .item-name {
    color: #CCC;
    opacity: 1;
}

.app-toolbar li.active {
    background-color: #2d2d2d;
    background-position: 100% -76px;

    color: #CCC;
}

.app-toolbar li ul,
.app-toolbar li form {
    position: absolute;
    left: 0;
    bottom: 42px;
    min-width: 100%;
    display: none;
}

.app-toolbar li form {
    background: #141414;
}

.app-toolbar li.active ul,
.app-toolbar li.active form {
    display: block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.95);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.95);
}

.app-toolbar ul li {
    float: none;
    border: 0 none;
    line-height: 1;
    padding: 0;
    margin-top: 1px;
    background: #141414;
}

.app-toolbar ul li:before {
    display: none;
}

.app-toolbar ul li:first-child {
    margin: 0;
}

.app-toolbar ul input {
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-right: 5px;
}

.app-toolbar ul label {
    display: inline-block;
    line-height: 30px;
    padding: 0 15px;
    vertical-align: middle;
}

.app-toolbar ul label span {
    cursor: pointer;
    vertical-align: middle;
    color: #666666;
}

.app-toolbar ul label:hover span {
    color: #FFF;
}

.app-toolbar li.grid-toggle {
    float: right;
    border: 0 none;
    border-left: 1px solid #333;
}

.app-toolbar li.grid-toggle .item-name {
    display: inline-block;
    width: 16px;
    height: 38px;
    background: url(../images/btn_ico_grid.png) no-repeat 0 50%;
    text-indent: -10000px;
}

.app-toolbar li.grid-toggle .item-value {
    margin-left: -4px;
}

.app-toolbar li.grid-toggle ul {
}

.app-toolbar li.grid-snap {
    float: right;
    border: 0 none;
    border-left: 1px solid #333;
}

.app-toolbar li.grid-snap .item-name {
    display: inline-block;
    width: 16px;
    height: 38px;
    background: url(../images/btn_ico_snap.png) no-repeat 0 50%;
    text-indent: -10000px;
}

.app-toolbar li.grid-snap .item-value {
    margin-left: -4px;
}

.app-toolbar li.grid-snap ul {
}

.app-toolbar li.shot-toggle {
    float: right;
    border: 0 none;
    border-left: 1px solid #333;
}

.app-toolbar li.shot-toggle .item-name {
    display: inline-block;
    width: 16px;
    height: 38px;
    background: url(../images/btn_ico_shot.png) no-repeat 0 50%;
    text-indent: -10000px;
}

.app-toolbar li.shot-toggle .item-value {
    display: none
}

.app-toolbar li.shot-toggle ul {
    right: 0;
    left: auto;
}

.app-toolbar li.trash {
    float: right;
    border: 0 none;
    border-left: 1px solid #333;
}

.app-toolbar li.trash .item-name {
    display: inline-block;
    width: 16px;
    height: 38px;
    background: url(../images/btn_ico_trash.png) no-repeat 0 50%;
    text-indent: -10000px;
}

.app-toolbar li.trash .item-value {
    display: none
}

.app-toolbar li.load {
    float: right;
    border: 0 none;
    border-left: 1px solid #333;
}

.app-toolbar li.load .item-name {
    display: inline-block;
    width: 16px;
    height: 38px;
    background: url(../images/btn_ico_load.png) no-repeat 0 50%;
    text-indent: -10000px;
}

.app-toolbar li.bug {
    float: right;
    border: 0 none;
    border-left: 1px solid #333;
}

.app-toolbar li.bug .item-name {
    display: inline-block;
    width: 16px;
    height: 38px;
    background: url(../images/btn_ico_bug.png) no-repeat 0 50%;
    text-indent: -10000px;
}

.app-toolbar li.switch-large {
}

.app-toolbar li.switch-large .item-name {
    display: inline-block;
    width: 16px;
    height: 38px;
    background: url(../images/btn_ico_large.png) no-repeat 0 50%;
    text-indent: -10000px;
}

.app-toolbar li.switch-compact {
    display: none;
}

.app-toolbar li.switch-compact .item-name {
    display: inline-block;
    width: 16px;
    height: 38px;
    background: url(../images/btn_ico_compact.png) no-repeat 0 50%;
    text-indent: -10000px;
}

.app-form .app-toolbar li {
    padding: 0 7px;
}

.app-toolbar li.align-controls .item-name {
    background-image: url(../images/icons/align_icons_sprite.png);
    display: inline-block;
    width: 16px;
    height: 30px;
    text-indent: -10000px;
}

.app-toolbar li.align-top .item-name {
    background-position: -4px 50%;
}

.app-toolbar li.align-vertical .item-name {
    background-position: -28px 50%;
}

.app-toolbar li.align-bottom .item-name {
    background-position: -52px 50%;
}

.app-toolbar li.align-left .item-name {
    background-position: -76px 50%;
}

.app-toolbar li.align-horizontal .item-name {
    background-position: -100px 50%;
}

.app-toolbar li.align-right .item-name {
    background-position: -124px 50%;
}

.app-toolbar .player-status ul {
}

.app-toolbar .player-status ul li {
    line-height: normal;
}

.app-toolbar .player-status .f-inputs {
    display: inline-block;
    vertical-align: middle;
}

.app-toolbar .player-status .f-row {
    display: block;
    padding: 0px 15px;
}

.app-toolbar .player-status .handle {
    height: 23px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 12px;
}

.app-toolbar .player-status input.range {
    height: 16px;
    margin: 0 5px 0 0;
    padding: 0;
    vertical-align: middle;
    margin: 0 0 0 5px;
    padding: 2px 0;
    text-align: center;
    width: 25px;
    float: none;
}

.app-toolbar .player-status .f-label {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
}

.app-toolbar .player-status .slider {
    width: 160px;
}

.app-toolbar a.set-custom-bg {
    display: inline-block;
    line-height: 30px;
    padding-left: 38px;
    background: url(../images/btn_ico_import.png) no-repeat 13px center;
    text-decoration: none;
    color: #666;
}

.app-toolbar a.set-custom-bg:hover {
    color: #FFF;
}

.app-toolbar ul li.disabled-item label span {
    color: #444;
    cursor: auto;
}

li.hud-extras ul {
}

li.hud-extras .item-value {
    display: none
}

li.draw-gun ul {
    width: 100px;
}