/* Growl Messages
---------------------------------*/
.growl-message-container {
    width: 35%;
    min-width: 250px;
}

.growl-message-wrapper {
    overflow: hidden;
    margin: 0;
    color: #FFFFFF;
    width: 100%;
}

.growl-message {
    background: #333;
    background: rgba(51, 51, 51, 0.9);
    margin: 3px;
    background-repeat: repeat-x;
    background-image: url(../images/growl_msg_bg.png);
    border-bottom: 1px solid #1a1a1a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 3px;
}

.growl-message a.close-message {
    display: block;
    width: 17px;
    height: 13px;
    float: right;
    margin: 4px;
    background: url(../images/close_tm.gif) no-repeat;
    opacity: 0.8;
}

.growl-message a.close-message:hover {
    opacity: 1;
}

.growl-message .message {
    padding: 12px;
    padding-top: 7px;
    text-align: left;
}

.growl-message h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #FFF;
    line-height: 25px;
    height: 25px;
    display: block;
    background-image: url(../images/growl_icons.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 22px;
}

.growl-message .weak {
    color: #ffd1d1;
}

.error .growl-message {
    background-color: #993333;
    background-color: rgba(153, 51, 51, 0.9);
    border-color: #8c2f2f;
}

.error .growl-message h4 {
    background-position: 0 -54px;
}

.warning .growl-message {
    background-color: #cc6600;
    background-color: rgba(204, 102, 0, 0.9);
    border-color: #ba5d00;
}

.warning .growl-message h4 {
    background-position: 0 -27px;
}

.success .growl-message {
    background-color: #477412;
    background-color: rgba(71, 116, 18, 0.9);
    border-color: #3b5e0e;
}

.success .growl-message h4 {
    background-position: 0 -81px;
}

.top-left .growl-message-wrapper {
    margin-bottom: 1px;
}

.top-left .growl-message {
}

.top-right .growl-message-wrapper {
    margin-bottom: 1px;
    float: right;
}

.top-right .growl-message {
}

.bottom-left .growl-message-wrapper {
    margin-top: 1px;
}

.bottom-left .growl-message {
    float: left;
}

.bottom-right .growl-message-wrapper {
    margin-top: 1px;
}

.bottom-right .growl-message {
    float: right;
}

.error-details li {
    margin-bottom: 0.25em;
}

.error-details li span.weak {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
}
