/* line 17, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_sidebar-elements.scss */
.sidebar-block {
  margin-top: -1px 0 1px;
  padding: 20px;
  border: 1px solid;
  border-color: #4d4d4d #303030 #262626;
  -webkit-box-shadow: #4d4d4d 0px 1px 0px;
  -moz-box-shadow: #4d4d4d 0px 1px 0px;
  box-shadow: #4d4d4d 0px 1px 0px;
}

/* line 8, ../sass/_sidebar-elements.scss */
.stage-controls h4 {
  text-transform: uppercase;
  font-size: 0.9em;
}

/* Forms
------------------------------ */
/* line 6, ../sass/_app-form.scss */
.app-form {
  padding: 0;
  margin: 0 0 0 0;
  position: relative;
  overflow: hidden;
}
/* line 13, ../sass/_app-form.scss */
.app-form .control-header {
  position: absolute;
  top: -1px;
  width: 100%;
  background: #2b2b2b;
  border: 1px solid;
  border-color: #4d4d4d #303030 #262626;
  -webkit-box-shadow: #4d4d4d 0px 1px 0px;
  -moz-box-shadow: #4d4d4d 0px 1px 0px;
  box-shadow: #4d4d4d 0px 1px 0px;
  height: 65px;
}
/* line 21, ../sass/_app-form.scss */
.app-form .control-header .header-wrap {
  padding: 20px;
  padding-left: 75px;
  padding-top: 17px;
  background-position: 25px 50%;
  background-repeat: no-repeat;
}
/* line 29, ../sass/_app-form.scss */
.app-form .control-header .item-type {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #999999;
}
/* line 35, ../sass/_app-form.scss */
.app-form .control-header .item-name {
  font-size: 1.5em;
  color: white;
  line-height: 0.75em;
}
/* line 42, ../sass/_app-form.scss */
.app-form .form-bbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 38px;
  border-top: 1px solid #4d4d4d;
  box-shadow: 0 -1px 8px #262626;
}
/* line 50, ../sass/_app-form.scss */
.app-form .form-bbar .item-status {
  font-size: 10px;
  line-height: 38px;
  padding: 0 0 0 20px;
  float: left;
}
/* line 56, ../sass/_app-form.scss */
.app-form .form-bbar .item-status span {
  vertical-align: middle;
}
/* line 59, ../sass/_app-form.scss */
.app-form .form-bbar .item-status .item-value {
  font-weight: bold;
  margin: 0 0 0 5px;
  display: inline-block;
  width: 20px;
}
/* line 67, ../sass/_app-form.scss */
.app-form .app-form-container {
  overflow: hidden;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 66px 0px 39px;
}
/* line 73, ../sass/_app-form.scss */
.app-form .app-form-container .app-form-controls {
  height: 100%;
  overflow: auto;
}
/* line 79, ../sass/_app-form.scss */
.app-form fieldset {
  border: medium none;
  padding-right: 10px;
  padding-top: 0.5em;
  background: url(../images/fieldset_splitter.png) no-repeat;
  margin: 1em 0;
}
/* line 87, ../sass/_app-form.scss */
.app-form fieldset.collapsed {
  padding-top: 0.5em;
}
/* line 90, ../sass/_app-form.scss */
.app-form fieldset.collapsed legend {
  background-position: 0 0 !important;
}
/* line 94, ../sass/_app-form.scss */
.app-form fieldset.collapsed .f-row {
  display: none !important;
}
/* line 99, ../sass/_app-form.scss */
.app-form legend {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1px 5px;
  padding-left: 20px;
  margin: 0 0 0 -15px;
  background: #333333 url(../images/legend_arrow.gif) no-repeat 0 -18px;
  color: #bfbfbf;
  cursor: pointer;
  -moz-border-radius: 3px;
}
/* line 112, ../sass/_app-form.scss */
.app-form legend:hover {
  color: #e6e6e6;
}

/* line 118, ../sass/_app-form.scss */
.app-form .f-row {
  padding: 3px 10px 3px 5px;
  display: block;
}

/* line 123, ../sass/_app-form.scss */
.app-form .f-label {
  display: inline-block;
  padding: 0 10px 0 0;
  text-align: right;
  vertical-align: middle;
}

/* line 130, ../sass/_app-form.scss */
.app-form .f-inputs {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/* line 136, ../sass/_app-form.scss */
.app-form .l-vertical .f-label {
  vertical-align: top;
  margin-top: 3px;
}

/* line 141, ../sass/_app-form.scss */
.app-form .f-checkboxes label {
  width: auto !important;
  padding: 0;
  vertical-align: middle;
  margin: 0 !important;
}

/* line 148, ../sass/_app-form.scss */
.app-form .f-checkboxes .label {
  padding: 0 0 0 8px;
  vertical-align: middle;
}

/* line 153, ../sass/_app-form.scss */
.app-form .f-checkboxes input {
  margin: 0;
  padding: 0;
}

/* line 158, ../sass/_app-form.scss */
.app-form .milti-textboxes label {
  margin: 0 0 0 15px !important;
  width: auto !important;
}

/* line 163, ../sass/_app-form.scss */
.app-form input.date {
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 18px;
}

/* line 169, ../sass/_app-form.scss */
.app-form .f-hint {
  padding-top: 3px;
  font-size: 0.8em;
  color: #555;
}

/* line 176, ../sass/_app-form.scss */
.f-inputs .input-helper {
  display: inline-block;
  vertical-align: middle;
  line-height: 13px;
  padding: 4px;
  margin-left: 0px;
  border: 1px solid #CCC;
}

/* line 185, ../sass/_app-form.scss */
.f-inputs .input-helper:hover {
  border-color: #c33;
}

/* line 189, ../sass/_app-form.scss */
.textbox-wrap {
  display: inline-block;
}

/* line 193, ../sass/_app-form.scss */
.textbox-wrap input {
  padding-left: 18px;
}

/* line 197, ../sass/_app-form.scss */
.app-form fieldset {
  padding-left: 75px;
  position: relative;
}

/* line 202, ../sass/_app-form.scss */
.app-form .f-label {
  margin-left: -75px;
  width: 55px;
}

/* line 207, ../sass/_app-form.scss */
.app-form .form-buttons {
  padding-left: 60px;
}

/* line 211, ../sass/_app-form.scss */
.color-picker-box {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #FFF;
  vertical-align: middle;
  margin-left: 5px;
}

/* line 220, ../sass/_app-form.scss */
.color-picker-hint {
  display: inline-block;
  vertical-align: middle;
  font-style: italic;
  color: #999999;
  font-size: 0.8em;
  margin-left: 10px;
}

/* line 229, ../sass/_app-form.scss */
.color-picker-wrapper {
  width: 208px;
  background: #333;
  margin: -5px;
  padding: 5px;
  border-bottom: 1px solid #1a1a1a;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 8px;
}

/* line 241, ../sass/_app-form.scss */
.color-cell {
  border: 1px solid #111;
  display: block;
  float: left;
  width: 14px;
  height: 14px;
}

/* line 250, ../sass/_app-form.scss */
.active-color,
.color-cell-hover {
  border-color: #FFFFFF;
  cursor: pointer;
}

/* line 255, ../sass/_app-form.scss */
.color-range-inputs input {
  margin-left: 2px;
  text-align: center;
}

/* slider root element */
/* line 2, ../sass/_range-input.scss */
.slider {
  background: #DDD;
  display: inline-block;
  height: 5px;
  position: relative;
  border: 1px solid #333;
  border-color: #666 #FFF #FFF #666;
  width: 160px;
  margin: 8px 0;
  vertical-align: middle;
  /* progress bar (enabled with progress: true) */
  /* drag handle */
}
/* line 14, ../sass/_range-input.scss */
.slider .progress {
  height: 100%;
  background-color: #979797;
  cursor: default;
}
/* line 21, ../sass/_range-input.scss */
.slider .handle {
  background: url(../images/slider_knob.png) no-repeat;
  height: 23px;
  width: 12px;
  top: -8px;
  position: absolute;
  display: block;
  cursor: default;
  border: 0 none;
  padding: 0;
  margin: 0;
}

/* line 35, ../sass/_range-input.scss */
.slider:hover {
  border-color: #3d7bad #a4c9e3 #a4c9e3 #3d7bad;
}
/* line 38, ../sass/_range-input.scss */
.slider:hover .progress {
  background-color: #93c0de;
}

/* line 45, ../sass/_range-input.scss */
.handle:focus,
.handle:hover {
  background-position: 0 -23px;
  outline: 0 none !important;
}

/* the input field */
/* line 51, ../sass/_range-input.scss */
input.range {
  border: 0 none;
  background: transparent;
  color: #FFF;
  padding: 2px 0;
  margin: 0 0 0 10px;
  text-align: center;
  width: 25px;
}

/* line 61, ../sass/_range-input.scss */
input.range:focus {
  background-color: black;
}

/* line 13, ../sass/_app-toolbar.scss */
.app-toolbar {
  height: 38px;
  list-style: none;
  font-size: 10px;
  text-transform: uppercase;
}

/* line 20, ../sass/_app-toolbar.scss */
.app-toolbar .root-item {
  display: block;
  float: left;
  position: relative;
  line-height: 38px;
  padding: 0 40px 0 20px;
  cursor: pointer;
  white-space: nowrap;
  background: url(../images/canvas_toolbar_sprite.png) no-repeat 100% -38px;
  margin: 0 1px 0 0;
}

/* line 31, ../sass/_app-toolbar.scss */
.app-toolbar .root-item:before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  right: -2px;
  background: url(../images/canvas_toolbar_sprite.png) no-repeat;
}

/* line 41, ../sass/_app-toolbar.scss */
.app-toolbar .rtl-item {
  float: right;
  margin: 0 0 0 1px;
}

/* line 45, ../sass/_app-toolbar.scss */
.app-toolbar .rtl-item:before {
  left: -2px;
}

/* line 49, ../sass/_app-toolbar.scss */
.app-toolbar li .item-name {
  color: #cccccc;
  margin-right: 0px;
  opacity: 0.75;
}

/* line 55, ../sass/_app-toolbar.scss */
.app-toolbar li .item-value {
  font-weight: normal;
  color: white;
  display: inline-block;
  width: 16px;
  text-align: right;
}

/* line 63, ../sass/_app-toolbar.scss */
.app-toolbar li:hover .item-name {
  color: #cccccc;
  opacity: 1;
}

/* line 68, ../sass/_app-toolbar.scss */
.app-toolbar li.active {
  background-color: #2b2b2b;
  color: #cccccc;
}

/* line 74, ../sass/_app-toolbar.scss */
.app-toolbar li ul,
.app-toolbar li form {
  position: absolute;
  left: 0;
  bottom: 42px;
  min-width: 100%;
  display: none;
}

/* line 82, ../sass/_app-toolbar.scss */
.app-toolbar li form {
  background: #141414;
}

/* line 87, ../sass/_app-toolbar.scss */
.app-toolbar li.active ul,
.app-toolbar li.active form {
  display: block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.95) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.95) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.95) 0px 1px 4px;
}

/* line 92, ../sass/_app-toolbar.scss */
.app-toolbar ul li {
  float: none;
  border: 0 none;
  line-height: 1;
  padding: 0;
  margin-top: 1px;
  background: #141414;
}

/* line 101, ../sass/_app-toolbar.scss */
.app-toolbar ul li:before {
  display: none;
}

/* line 105, ../sass/_app-toolbar.scss */
.app-toolbar ul li:first-child {
  margin: 0;
}

/* line 109, ../sass/_app-toolbar.scss */
.app-toolbar ul input {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

/* line 118, ../sass/_app-toolbar.scss */
.app-toolbar ul label {
  display: inline-block;
  line-height: 30px;
  padding: 0 15px;
  vertical-align: middle;
}

/* line 125, ../sass/_app-toolbar.scss */
.app-toolbar ul label span {
  cursor: pointer;
  vertical-align: middle;
  color: #666666;
}

/* line 131, ../sass/_app-toolbar.scss */
.app-toolbar ul label:hover span {
  color: white;
}

/* line 2, ../sass/_app-toolbar.scss */
.app-toolbar li.grid-toggle .item-name {
  display: inline-block;
  width: 16px;
  height: 38px;
  text-indent: -10000px;
}
/* line 8, ../sass/_app-toolbar.scss */
.app-toolbar li.grid-toggle .item-value {
  margin-left: -4px;
}
/* line 138, ../sass/_app-toolbar.scss */
.app-toolbar li.grid-toggle .item-name {
  background: url(../images/btn_ico_grid.png) no-repeat 0 50%;
}

/* line 2, ../sass/_app-toolbar.scss */
.app-toolbar li.grid-snap .item-name {
  display: inline-block;
  width: 16px;
  height: 38px;
  text-indent: -10000px;
}
/* line 8, ../sass/_app-toolbar.scss */
.app-toolbar li.grid-snap .item-value {
  margin-left: -4px;
}
/* line 146, ../sass/_app-toolbar.scss */
.app-toolbar li.grid-snap .item-name {
  background: url(../images/btn_ico_snap.png) no-repeat 0 50%;
}

/* line 2, ../sass/_app-toolbar.scss */
.app-toolbar li.shot-toggle .item-name {
  display: inline-block;
  width: 16px;
  height: 38px;
  text-indent: -10000px;
}
/* line 8, ../sass/_app-toolbar.scss */
.app-toolbar li.shot-toggle .item-value {
  margin-left: -4px;
}
/* line 153, ../sass/_app-toolbar.scss */
.app-toolbar li.shot-toggle .item-name {
  background: url(../images/btn_ico_shot.png) no-repeat 0 50%;
}
/* line 156, ../sass/_app-toolbar.scss */
.app-toolbar li.shot-toggle .item-value {
  display: none;
}
/* line 159, ../sass/_app-toolbar.scss */
.app-toolbar li.shot-toggle ul {
  right: 0;
  left: auto;
}

/* line 2, ../sass/_app-toolbar.scss */
.app-toolbar li.trash .item-name {
  display: inline-block;
  width: 16px;
  height: 38px;
  text-indent: -10000px;
}
/* line 8, ../sass/_app-toolbar.scss */
.app-toolbar li.trash .item-value {
  margin-left: -4px;
}
/* line 167, ../sass/_app-toolbar.scss */
.app-toolbar li.trash .item-name {
  background: url(../images/btn_ico_trash.png) no-repeat 0 50%;
}
/* line 170, ../sass/_app-toolbar.scss */
.app-toolbar li.trash .item-value {
  display: none;
}

/* line 2, ../sass/_app-toolbar.scss */
.app-toolbar li.switch-large .item-name {
  display: inline-block;
  width: 16px;
  height: 38px;
  text-indent: -10000px;
}
/* line 8, ../sass/_app-toolbar.scss */
.app-toolbar li.switch-large .item-value {
  margin-left: -4px;
}
/* line 178, ../sass/_app-toolbar.scss */
.app-toolbar li.switch-large .item-name {
  background: url(../images/btn_ico_large.png) no-repeat 0 50%;
}

/* line 183, ../sass/_app-toolbar.scss */
.app-toolbar li.switch-compact {
  display: none;
}

/* line 2, ../sass/_app-toolbar.scss */
.app-toolbar li.switch-compact .item-name {
  display: inline-block;
  width: 16px;
  height: 38px;
  text-indent: -10000px;
}
/* line 8, ../sass/_app-toolbar.scss */
.app-toolbar li.switch-compact .item-value {
  margin-left: -4px;
}
/* line 189, ../sass/_app-toolbar.scss */
.app-toolbar li.switch-compact .item-name {
  background: url(../images/btn_ico_compact.png) no-repeat 0 50%;
}

/* line 197, ../sass/_app-toolbar.scss */
.app-toolbar .player-status ul li {
  line-height: normal;
}

/* line 201, ../sass/_app-toolbar.scss */
.app-toolbar .player-status .f-inputs {
  display: inline-block;
  vertical-align: middle;
}

/* line 206, ../sass/_app-toolbar.scss */
.app-toolbar .player-status .f-row {
  display: block;
  padding: 0px 15px;
}

/* line 211, ../sass/_app-toolbar.scss */
.app-toolbar .player-status .handle {
  height: 23px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 12px;
}

/* line 219, ../sass/_app-toolbar.scss */
.app-toolbar .player-status input.range {
  height: 16px;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: middle;
  margin: 0 0 0 5px;
  padding: 2px 0;
  text-align: center;
  width: 25px;
  float: none;
}

/* line 231, ../sass/_app-toolbar.scss */
.app-toolbar .player-status .f-label {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
}

/* line 237, ../sass/_app-toolbar.scss */
.app-toolbar .player-status .slider {
  width: 160px;
}

/* line 241, ../sass/_app-toolbar.scss */
.app-toolbar a.set-custom-bg {
  display: inline-block;
  line-height: 30px;
  padding-left: 38px;
  background: url(../images/btn_ico_import.png) no-repeat 13px center;
  text-decoration: none;
  color: #666;
}

/* line 250, ../sass/_app-toolbar.scss */
.app-toolbar a.set-custom-bg:hover {
  color: #FFF;
}

/* line 254, ../sass/_app-toolbar.scss */
.app-toolbar ul li.disabled-item label span {
  color: #444;
  cursor: auto;
}

/* line 259, ../sass/_app-toolbar.scss */
li.hud-extras .item-value {
  display: none;
}

/* line 263, ../sass/_app-toolbar.scss */
li.draw-gun ul {
  width: 100px;
}

/* line 30, ../sass/vhud.scss */
.vh-viewport {
  overflow: hidden;
}

/* line 34, ../sass/vhud.scss */
.vh-viewport-topbar {
  background: #333333;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 4px;
  border: 1px solid;
  border-color: #4d4d4d #303030 #262626;
  left: 10px;
  top: 10px;
  right: 10px;
  line-height: 58px;
  height: 58px;
}

/* line 44, ../sass/vhud.scss */
.vh-viewport-sidebar {
  background: #333333;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 4px;
  border: 1px solid;
  border-color: #4d4d4d #303030 #262626;
  top: 80px;
  right: 10px;
  bottom: 10px;
  width: 350px;
  overflow: auto;
  border-width: 1px 0;
}

/* line 54, ../sass/vhud.scss */
.vh-viewport-bottombar {
  background: #333333;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 4px;
  border: 1px solid;
  border-color: #4d4d4d #303030 #262626;
  left: 10px;
  bottom: 10px;
  right: 370px;
  height: 38px;
}

/* line 62, ../sass/vhud.scss */
.vh-viewport-center {
  background: #333333;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 4px;
  border: 1px solid;
  border-color: #4d4d4d #303030 #262626;
  width: 350px;
  height: 480px;
  left: 50%;
  top: 50%;
  margin: -320px 0 0 -670px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 15px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 15px;
  background-color: #1a1a1a;
  border: 0 none;
  z-index: 0;
}
